<h2 class="text-3xl font-bold text-center mt-6">Contact</h2>

<div class="max-w-screen-lg mx-auto p-5">
    <div class="grid grid-cols-1 md:grid-cols-12 gap-4">
        <div class="md:col-span-4 bg-gray-100 p-10 rounded-lg shadow-lg">
            <p class="mt-4 text-sm leading-7 font-regular uppercase">Contact</p>
            <h3 class="text-3xl sm:text-4xl leading-normal font-extrabold tracking-tight">Get In <span
                    class="text-indigo-600">Touch</span></h3>

            <div class="flex items-center mt-5">
                <div class="w-8 h-8 mb-2 bg-cover bg-center"
                    [style.backgroundImage]="'url(assets/images/logo/address.svg)'"></div>
                <span class="text-sm  ml-2">Muzaffarpur, Bihar, India 842001</span>
            </div>
            <div class="flex items-center mt-5">
                <div class="w-8 h-8 mb-2 bg-cover bg-center"
                    [style.backgroundImage]="'url(assets/images/logo/cell-phone.svg)'"></div>
                <span class="text-sm  ml-2">8797247279</span>
            </div>
            <div class="flex items-center mt-5">
                <div class="w-8 h-8 mb-2 bg-cover bg-center"
                    [style.backgroundImage]="'url(assets/images/logo/email.svg)'"></div>
                <span class="text-sm ml-2">akhlaquea01gmail.com</span>
            </div>
            <div class="flex justify-center mt-10">
                <a href="https://www.linkedin.com/in/iam-atts/" target="_blank" rel="noopener noreferrer" class="mr-4">
                    <div class="w-8 h-8 bg-cover bg-center"
                        [style.backgroundImage]="'url(assets/images/logo/linkedin.svg)'"></div>
                </a>
                <a href="https://www.instagram.com/iam_atts_/" target="_blank" rel="noopener noreferrer" class="mr-4">
                    <div class="w-8 h-8 bg-cover bg-center"
                        [style.backgroundImage]="'url(assets/images/logo/instagram.svg)'"></div>
                </a>
                <a href="https://github.com/Akhlaquea01" target="_blank" rel="noopener noreferrer" class="mr-4">
                    <div class="w-8 h-8 bg-cover bg-center"
                        [style.backgroundImage]="'url(assets/images/logo/github.svg)'"></div>
                </a>
                <a href="https://www.youtube.com/channel/UCnSxC87V29fH64re0B8N4wA" target="_blank"
                    rel="noopener noreferrer">
                    <div class="w-8 h-8 bg-cover bg-center"
                        [style.backgroundImage]="'url(assets/images/logo/youtube.svg)'"></div>
                </a>
            </div>
        </div>

        <!-- Form Starts Here -->
        <form class="md:col-span-8 p-10 bg-gray-100 rounded-lg shadow-lg">
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="grid-first-name">First Name</label>
                    <input [(ngModel)]="subject" [ngModelOptions]="{standalone: true}"
                        class="appearance-none bg-transparent border-b border-indigo-500 w-full text-gray-700 mr-3 p-4 leading-tight focus:outline-none focus:bg-gray-200"
                        type="text" placeholder="Akhlaque" aria-label="Full name">
                    <!-- <p class="text-red-500 text-xs italic mt-1">Please fill out this field.</p> -->
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="grid-last-name">Last
                        Name</label>
                    <input
                        class="appearance-none bg-transparent border-b border-indigo-500 w-full text-gray-700 mr-3 p-4 leading-tight focus:outline-none focus:bg-gray-200"
                        type="text" placeholder="Ahmad" aria-label="Full name">
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="grid-email">Email
                        Address</label>
                    <input
                        class="appearance-none bg-transparent border-b border-indigo-500 w-full text-gray-700 mr-3 p-4 leading-tight focus:outline-none focus:bg-gray-200"
                        type="email" placeholder="akhlaquea01@gmail.com" aria-label="Full name">
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="grid-message">Your
                        Message</label>
                    <textarea rows="4" [(ngModel)]="body" [ngModelOptions]="{standalone: true}"
                        class="appearance-none bg-transparent border-b border-indigo-500 w-full text-gray-700 mr-3 p-4 focus:bg-gray-200 leading-tight focus:outline-none"
                        type="email" placeholder="Your message here" aria-label="Full name"></textarea>
                </div>
                <div class="flex justify-between w-full px-3">
                    <div class="md:flex md:items-center">
                        <label class="block text-gray-500 font-bold">
                            <input class="mr-2 leading-tight" type="checkbox">
                            <span class="text-sm">Send me your updates!</span>
                        </label>
                    </div>
                    <button class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
                        <a [href]="url" class="text-white">Send Email</a>
                    </button>

                </div>
            </div>
        </form>

    </div>
</div>