.shadow-inset {
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff !important;
}
h4,
.view-more{
    color:#4e846b;
    font-weight: bold;
}
h5
{
    color: #818284;
}
h3{
    color: #204390;
}
.zycus {
    padding: 10px;
    margin-bottom: 20px;
}
.border-green-500,
.border-blue-200{
    border-color: #4e846b;

}