<section id="about">
    <div class="container">
        <h2><strong>{{about}}</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right" >

                <picture>
                    <img src="assets/images/profile.jpg" alt="photo de profil" class="img-fluid">
                </picture>
               <div class="d-flex justify-content-center">
                    <a  class="btn-social-media" href=" {{myInfo.socialMedia.linkedin}} " rel="tooltip" target="_blank"  title="follow me Linkedin">
                        <i  class="fa fa-linkedin fa-lg "></i>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="{{myInfo.socialMedia.github}}" rel="tooltip" target="_blank" title="follow me GitHub" >
                        <i  class="fa fa-github fa-lg "></i></a>
                </div>


            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>{{myInfo.job.jobTitle}}</h3>
                <p class="font-italic">
                  {{myInfo.job.jobDescription}}
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="mapMarker"></fa-icon><strong> {{myInfo.contact.address.locality}},{{myInfo.contact.address.city}}</strong>
                            </li>
                            <li>
                            <fa-icon [icon]="building"></fa-icon><strong> {{myInfo.contact.address.state}}, {{myInfo.contact.address.country}}</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:{{myInfo.contact.email}}">
                                  {{myInfo.contact.email}}</a></strong>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="birthday"></fa-icon><strong> {{myAge}} Years</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong> {{myInfo.education[2].graduation.degree}} </strong>
                            </li>
                            <li>
                                <fa-icon [icon]="home"></fa-icon><strong> {{myInfo.education[2].graduation.branch}} </strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    I am working as an Angular Developer at Zycus Infotech Private Limited.
                </p>
            </div>
        </div>
    </div>
</section>
