<section id="competences">
  <div class="container">
    <h2><strong>Skills</strong></h2>
    <span class="bar-title mb-5"></span>
    <div class="row mt-2">
      <div class="col-lg-4" data-aos="fade-up " data-aos-anchor-placement="center-bottom" data-aos-delay="300">
        <h5 class="h5"><strong>Technologies</strong></h5>
        <div id="skillgraph" *ngFor="let Technology of Technologies">
          <div class='row skill-row'>
            <div class="label d-flex flex-row">
              <span class="skillLabel">{{Technology.name}}</span>
              <span class="skill-percent">{{Technology.level}}</span>
            </div>
            <span class='skillData-Wrapper'>
              <span class='skillData bg-rust'
                [ngClass]="{'excellent': Technology.state=='excellent','good': Technology.state=='good','very-good': Technology.state=='very-good','average': Technology.state=='average','poor': Technology.state=='poor'}"></span></span>
          </div>
        </div>

      </div>
      <div class="col-lg-4" data-aos="fade-down" data-aos-anchor-placement="center-bottom" data-aos-delay="300">
        <h5 class="h5"><strong>Tools</strong></h5>
        <div id="skillgraph" class="panel panel-default" *ngFor="let Tool of Tools">
          <div class='row skill-row'>
            <div class="label d-flex flex-row">
              <span class='skillLabel'>{{Tool.name}}</span>
              <span class="skill-percent">{{Tool.level}}</span>
            </div>
            <span class='skillData-Wrapper'>
              <span class='skillData bg-rust'
                [ngClass]="{'excellent': Tool.state=='excellent','good': Tool.state=='good','very-good': Tool.state=='very-good','average': Tool.state=='average','poor': Tool.state=='poor'}"></span></span>
          </div>
        </div>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-delay="300">
        <h5 class="h5"><strong>Methods</strong></h5>
        <div id="skillgraph" class="panel panel-default" *ngFor="let Method of Methods">
          <div class='row skill-row'>
            <div class="label d-flex flex-row">
              <span class='skillLabel'>{{Method.name}}</span>
              <span class=" skill-percent">{{Method.level}}</span>
            </div>
            <span class='skillData-Wrapper'>
              <span class='skillData bg-rust'
                [ngClass]="{'excellent': Method.state=='excellent','good': Method.state=='good','very-good': Method.state=='very-good','average': Method.state=='average','poor': Method.state=='poor'}"></span></span>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
